.container-full.dark
  footer
    p
      small *This website is not affiliated to NaNoWriMo and the content has not been reviewed by it. The official website of NaNoWriMo is 
        a(href="http://www.nanowrimo.org" title="NaNoWriMo.org") nanowrimo.org
    p 
      small Contact 
        a(href="/contact", "Contatta il webmaster") the webmaster
