body
  //padding 50px

p
    font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00b7ff

.jumbotron
  text-align center
  background-color transparent

.progress-bar-validated
  background-color #8a2264

.auth-name
  width 100px
  margin 0 10px 5px
  float left

.card
  background #fff
  display inline-block
  margin 10px
  max-width 300px
  -webkit-perspective 1000
  perspective 1000
  position relative
  text-align left
  z-index 1
  -webkit-transition all 0.3s 0s ease-in
  transition all 0.3s 0s ease-in
  box-shadow 1px 3px 5px 2px rgba(120,120,120,0.5)

.card img
  width 260px
  max-width 300px

.card-title
  background #fff
  padding 6px 10px 10px
  position relative
  z-index 0


a.toggle-info
  border-radius 32px
  height 32px
  padding 0
  position absolute
  right 15px
  top 10px
  width 32px

.info-btn
  font-size 30px
  position absolute
  bottom 70px
  right 14px

div.card div.card-title h2
  font-size 24px
  font-weight 700
  letter-spacing -0.05em
  margin 0
  padding 0

.faces_btn
  background #0096a0
  border-radius 4px
  box-shadow 0 2px 0px 0 rgba(0,0,0,0.25)
  color #fff
  display inline-block
  padding 6px 30px 8px
  position relative
  text-decoration none
  -webkit-transition all 0.1s 0s ease-out
  transition all 0.1s 0s ease-out


span.glyphicon
  background-color white
  border-radius 32px

/* add these */
.novel h3
  margin 0 0 3px


div.cards.showing div.card
  cursor pointer
  opacity 0.6
  -webkit-transform scale(0.88)
  -ms-transform scale(0.88)
  transform scale(0.88)

.no-touch div.cards.showing div.cardhover
  opacity 0.94
  -webkit-transform scale(0.92)
  -ms-transform scale(0.92)
  transform scale(0.92)

div.card.show-detail
  opacity 1 !important
  -webkit-transform scale(1) !important
  -ms-transform scale(1) !important
  transform scale(1) !important

div.card div.card-history
  background #d9d9d9
  position absolute
  width 100%
  -webkit-transform-origin top
  -ms-transform-origin top
  transform-origin top
  -webkit-transform rotateX(-90deg)
  transform rotateX(-90deg)

.card.show-detail .card-history
  background #ffffff
  -webkit-transform rotateX(0deg)
  transform rotateX(0deg)
  box-shadow 1px 7px 5px 2px rgba(120,120,120,0.5)
  height 150px
  overflow scroll
  padding 6px 10px 10px

.dark
  background-color #e7e7e7

.container-full
    width 100%
    margin-top 20px

footer
  padding 50px
